---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';
import BackgroundLayer from '../components/BackgroundLayer.astro';
import HomeFeed from '../components/HomeFeed.astro';
import { getTopTags, paginatePosts, sortPostsByDate } from '../utils/blog';
import configData from '../data/config.json';
import carouselData from '../data/carousel.json';
import quotesData from '../data/quotes.json';

const posts = sortPostsByDate(await getCollection('posts'));
const topTags = getTopTags(posts, 9);
const { posts: pagePosts, totalPages, currentPage } = paginatePosts(posts, 5, 1);
const userInfo = configData.userInfo;
const images = carouselData.images || [];
const quotes = quotesData.quotes || [];
---

<MainLayout title="首页 | 楓念的博客" description="博客文章列表页">
  <BackgroundLayer />
  <Navbar currentPath="/home" />

  <main class="page-wrap three-column" id="main-content">
    <div class="left-col sticky-col">
      <Sidebar userInfo={userInfo} />
    </div>

    <section class="center-col">
      <HomeFeed posts={pagePosts} quotes={quotes} currentPage={currentPage} totalPages={totalPages} />
    </section>

    <div class="right-col sticky-col">
      <RightSidebar images={images} tags={topTags} />
    </div>
  </main>
</MainLayout>
